@use 'base/variables' as v;
@use 'base/mixins' as m;

.banner{
    background-image: url(../img/baner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    &::before{
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__texto{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}
.sticky{
    background-color: v.$primario;
}
.inicio{
    position: relative;
}
.encabezado{
    background-image: url(../img/baner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    &::before{
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}